/* eslint-disable-next-line */
@import './Fonts.scss';

.App {
  text-align: center;
}

.customFont{
  font-family: "movieFilmstrip";
  font-weight: normal;
  color: white;
  font-size: 2vw;
  margin: 0;
  padding: 0;
}

.home{
  cursor: pointer;
}

.header{
  height: 50px;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: #121212;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  justify-content: center;
  h2{
    margin: 0;
    padding: 0;
  }
}
